.cart__wrapper {
  position: fixed;
  top: 60px;
  right: 20px;
  border-radius: 12px;
  background-color: var(--sand);
  border: 3px solid var(--lightBlue);
  /* padding: 10px; */
  z-index: 10;
  padding: 10px 30px;
}

.cart__innerWrapper {
  height: max-content;
  max-height: 50vh;
  overflow-y: auto;
  scrollbar-width: none;
}

.Cart__cartTotal {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid var(--lightBlue);
  padding-top: 15px;
}

.fa-times-circle {
  color: var(--lightBlue);
  transition: transform 0.2s linear;
}

.fa-times-circle:hover {
  transform: rotate(90deg);
}

@media screen and (max-width: 600px) {
  .cart__wrapper {
    right: 0px;
    width: 80%;
  }
}
