:root {
  --darkBrown: #5d5c61;
  --lightBrown: #938e94;
  --lightBlue: #7395ae;
  --darkBlue: #557a95;
  --sand: #b1a296;
}
body {
  margin: 0;
  background-color: var(--sand);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
